<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<settings>
	<setting name="jdbcTypeForNull" value="NULL"></setting>
</settings>

<typeAliases>
	<typeAlias type="com.wework.workman.mypage.model.vo.Mypage" alias="Mypage"/>
	<typeAlias type="com.wework.workman.account.model.vo.AccountStatus" alias="AccountStatus"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.AcNotice" alias="AcNotice"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.Fixture" alias="Fixture"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.IncomeStatement" alias="IncomeStatement"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.IsState" alias="IsState"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.OsManage" alias="OsManage"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.Partner" alias="Partner"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.Product" alias="Product"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.SalaryManage" alias="SalaryManage"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.SaleManage" alias="SaleManage"></typeAlias>
</typeAliases>

<mappers>
	<mapper resource="mapper/account-mapper.xml"></mapper>
	<mapper resource="mapper/approval-mapper.xml"></mapper>
	<mapper resource="mapper/chatting-mapper.xml"></mapper>
	<mapper resource="mapper/humanResource-mapper.xml"></mapper>
	<mapper resource="mapper/mypage-mapper.xml"></mapper>
</mappers>

</configuration>
