<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<settings>
	<setting name="jdbcTypeForNull" value="NULL"></setting>
</settings>

<typeAliases>
	<typeAlias type="com.wework.workman.mypage.model.vo.Mypage" alias="Mypage"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.Modal" alias="Modal"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.Dept" alias="Dept"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.Grade" alias="Grade"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.Notice" alias="Notice"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.Department" alias="Department"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.MyHoli" alias="MyHoli"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.HoliCount" alias="HoliCount"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.Att" alias="Att"/>
	<typeAlias type="com.wework.workman.calendar.model.vo.Calendar" alias="Calendar"/>
	<typeAlias type="com.wework.workman.calendar.model.vo.FullCalendar" alias="FullCalendar"/>
	<typeAlias type="com.wework.workman.common.Attachment" alias="Attachment"/>
	<typeAlias type="com.wework.workman.humanResource.model.vo.Employee" alias="Employee"/>
	<typeAlias type="com.wework.workman.account.model.vo.AccountStatus" alias="AccountStatus"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.AcNotice" alias="AcNotice"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.Fixture" alias="Fixture"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.IncomeStatement" alias="IncomeStatement"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.IsState" alias="IsState"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.NoticeFile" alias="NoticeFile"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.OsManage" alias="OsManage"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.Partner" alias="Partner"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.Product" alias="Product"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.SalaryManage" alias="SalaryManage"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.SaleManage" alias="SaleManage"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.AvgSalary" alias="AvgSalary"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.Attendance2" alias="Attendance2"></typeAlias>
	<typeAlias type="com.wework.workman.account.model.vo.ForGraph" alias="ForGraph"></typeAlias>
	<typeAlias type="com.wework.workman.mypage.model.vo.EmpList" alias="EmpList"/>
	<!-- chatting -->
	<typeAlias type="com.wework.workman.chatting.model.vo.Room" alias= "Room"/>
	<typeAlias type="com.wework.workman.chatting.model.vo.Message" alias ="Message"/>
	
	<!-- 전자결재 -->
	<typeAlias type="com.wework.workman.approval.model.vo.Draft" alias="Draft"/>
	<typeAlias type="com.wework.workman.approval.model.vo.Expense" alias="Expense"/>
	<typeAlias type="com.wework.workman.approval.model.vo.Holiday" alias="Holiday"/>
	<typeAlias type="com.wework.workman.approval.model.vo.Request" alias="Request"/>
	<!-- 결제자 -->
	<typeAlias type="com.wework.workman.common.Conflrm" alias="Conflrm"/>
	<!-- 참조자 -->
	<typeAlias type="com.wework.workman.common.Reference" alias="Reference"/>
	
	<!-- 문서정렬  -->
	<typeAlias type="com.wework.workman.common.ConflrmSort" alias="ConflrmSort"/>
	<typeAlias type="com.wework.workman.approval.model.vo.DraftSort" alias="DraftSort"/>
	<typeAlias type="com.wework.workman.approval.model.vo.ExpenseSort" alias="ExpenseSort"/>
	<typeAlias type="com.wework.workman.approval.model.vo.HolidaySort" alias="HolidaySort"/>
	<typeAlias type="com.wework.workman.approval.model.vo.RequestSort" alias="RequestSort"/>
	<typeAlias type="com.wework.workman.approval.model.vo.ApprovalSort"  alias="ApprovalSort"/>
	
	<!-- 문서리스트용  -->
	<typeAlias type="com.wework.workman.approval.model.vo.Doc" alias="Doc"/>
	
	
</typeAliases>

<mappers>
	<mapper resource="mapper/account-mapper.xml"></mapper>
	<mapper resource="mapper/approval-mapper.xml"></mapper>
	<mapper resource="mapper/chatting-mapper.xml"></mapper>
	<mapper resource="mapper/calendar-mapper.xml"></mapper>
	<mapper resource="mapper/humanResource-mapper.xml"></mapper>
	<mapper resource="mapper/mypage-mapper.xml"></mapper>
</mappers>

</configuration>
