<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

<settings>
	<setting name="jdbcTypeForNull" value="NULL"></setting>
</settings>

<typeAliases>
	<typeAlias type="com.wework.workman.mypage.model.vo.Mypage" alias="Mypage"/>
	
</typeAliases>

<mappers>
	<mapper resource="mapper/account-mapper.xml"></mapper>
	<mapper resource="mapper/approval-mapper.xml"></mapper>
	<mapper resource="mapper/chatting-mapper.xml"></mapper>
	<mapper resource="mapper/humanResource-mapper.xml"></mapper>
	<mapper resource="mapper/mypage-mapper.xml"></mapper>
</mappers>

</configuration>
