th{
	font-size: 1.5em;
}
td{
	font-size: 1.3em;
	line-height: 1.2;
}
 tr>th{
	text-align: center;
}
td{
	text-align: left;
}
th, td{
	border: 0.3em solid lightgray;
}
.pages{
	display: inline-block; border: 0.1em solid lightgray; width:3em; height: 3em; padding-top: 8px; background: white;
}
.pages:hover{
	color: white;
	background: lightgray;
	cursor: pointer;
}
.table tbody tr:hover{
	color:white;
	background: orange;
	cursor:pointer;
}