<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="approvalMapper">

	<!-- 결제라인 -->
	 <resultMap id="conflrmResultSet" type="Conflrm">
		<id property="confirmNum" column="CONFIRM_NUM"/>
		<result property="confirmEmp1" column="CONFIRM_EMP1"/>
		<result property="confirmEmp2" column="CONFIRM_EMP2"/>
		<result property="confirmEmp3" column="CONFIRM_EMP3"/>
		<result property="confirmEmp4" column="CONFIRM_EMP4"/>
		<result property="confirmDate1" column="CONFIRM_DATE1"/>
		<result property="confirmDate2" column="CONFIRM_DATE2"/>
		<result property="confirmDate3" column="CONFIRM_DATE3"/>
		<result property="confirmDate4" column="CONFIRM_DATE4"/>
	</resultMap>
	
	<!-- 참조라인  -->
	 <resultMap id="referenceResultSet" type="Reference">
		<id property="docNum" column="DOC_NUM"/>
		<result property="empNum1" column="EMP_NUM1"/>
		<result property="empNum2" column="EMP_NUM2"/>
		<result property="empNum3" column="EMP_NUM3"/>
		<result property="empNum4" column="EMP_NUM4"/>
	</resultMap>
	
	
	<!-- 결제 정렬 -->
	<resultMap id="conflrmSortResultSet" type="ConflrmSort">
		<id property="pNum" column="PNUM"/>
		<result property="rNum" column="RNUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
	</resultMap>
	
	<!-- 파일 -->
	<resultMap id="attachmentResultSet" type="Attachment">
		<id property="attNum" column="ATT_NUM"/>
		<result property="docNum" column="DOC_NUM"/>
		<result property="attOriginalName" column="ATT_ORIGIN_NAME"/>
		<result property="attPath" column="ATT_PATH"/>
		<result property="attRename" column="ATT_RENAME"/>
	</resultMap>
	
	<!-- 기안서 -->
	<resultMap id="draftResultSet" type="Draft">
		<id property="draftNum" column="DRAFT_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="draftTitle" column="DRAFT_TITLE"/>
		<result property="draftContent" column="DRAFT_CONTENT"/>
		<result property="draftDate" column="DRAFT_DATE"/>
		<result property="draftStatus" column="DRAFT_STATUS"/>
		<result property="draftComplete" column="DRAFT_COMPLETE"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
	</resultMap>
	
	<!-- 기안서  정렬 -->
	<resultMap id="draftSortResultSet" type="DraftSort">
		<id property="pNum" column="PNUM"/>
		<result property="rNum" column="RNUM"/>
		<result property="draftNum" column="DRAFT_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="draftTitle" column="DRAFT_TITLE"/>
		<result property="draftContent" column="DRAFT_CONTENT"/>
		<result property="draftDate" column="DRAFT_DATE"/>
		<result property="draftStatus" column="DRAFT_STATUS"/>
		<result property="draftComplete" column="DRAFT_COMPLETE"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
	</resultMap>
	
	<!-- 품의서 -->
	<resultMap id="requestResultSet" type="Request">
		<id property="requestNum" column="REQUEST_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="requestTitle" column="REQUEST_TITLE"/>
		<result property="requestContent" column="REQUEST_CONTENT"/>
		<result property="requestDate" column="REQUEST_DATE"/>
		<result property="requestStatus" column="REQUEST_STATUS"/>
		<result property="requestComplete" column="REQUEST_COMPLETE"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
	</resultMap>
	
	<!-- 품의서 정렬 -->
	<resultMap id="requestSortResultSet" type="RequestSort">
		<id property="pNum" column="PNUM"/>
		<result property="rNum" column="RNUM"/>
		<result property="requestNum" column="REQUEST_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="requestTitle" column="REQUEST_TITLE"/>
		<result property="requestContent" column="REQUEST_CONTENT"/>
		<result property="requestDate" column="REQUEST_DATE"/>
		<result property="requestStatus" column="REQUEST_STATUS"/>
		<result property="requestComplete" column="REQUEST_COMPLETE"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
	</resultMap>
	
	<!-- 휴가 -->
	<resultMap id="holidayResultSet" type="Holiday">
		<id property="holiNum" column="HOLI_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="holiType" column="HOLI_TYPE"/>
		<result property="holiApply" column="HOLI_APPLY"/>
		<result property="holidayStart" column="HOLIDAY_START"/>
		<result property="holidayEnd" column="HOLIDAY_END"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
		<result property="holidayStatus" column="HOLIDAY_STATUS"/>
	</resultMap>
	
	<!-- 휴가 문서 정렬 -->
	<resultMap id="holidaySortResultSet" type="HolidaySort">
		<id property="pNum" column="PNUM"/>
		<result property="rNum" column="RNUM"/>
		<result property="holiNum" column="HOLI_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="holiType" column="HOLI_TYPE"/>
		<result property="holiApply" column="HOLI_APPLY"/>
		<result property="holidayStart" column="HOLIDAY_START"/>
		<result property="holidayEnd" column="HOLIDAY_END"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
		<result property="holidayStatus" column="HOLIDAY_STATUS"/>
	</resultMap>
	
	<!-- 지출결의 -->
	<resultMap id="expenseResultSet" type="Expense">
		<id property="expenseNum" column="EXPENSE_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="expenseTitle" column="EXPENSE_TITLE"/>
		<result property="expenseContent" column="EXPENSE_CONTENT"/>
		<result property="expenseDate" column="EXPENSE_DATE"/>
		<result property="expenseType" column="EXPENSE_TYPE"/>
		<result property="partnerNum" column="PARTNER_NUM"/>
		<result property="expensePrice" column="EXPENSE_PRICE"/>
		<result property="expenseStatus" column="EXPENSE_STAUS"/>
		<result property="expenseComplete" column="EXPENSE_COLPLETE"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
	</resultMap>
	
	<!-- 지출결의 문서정렬 -->
	<resultMap id="expenseSortResultSet" type="ExpenseSort">
		<id property="pNum" column="PNUM"/>
		<result property="rNum" column="RNUM"/>
		<result property="expenseNum" column="EXPENSE_NUM"/>
		<result property="deptNum" column="DEPT_NUM"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="expenseTitle" column="EXPENSE_TITLE"/>
		<result property="expenseContent" column="EXPENSE_CONTENT"/>
		<result property="expenseDate" column="EXPENSE_DATE"/>
		<result property="expenseType" column="EXPENSE_TYPE"/>
		<result property="partnerNum" column="PARTNER_NUM"/>
		<result property="expensePrice" column="EXPENSE_PRICE"/>
		<result property="expenseStatus" column="EXPENSE_STAUS"/>
		<result property="expenseComplete" column="EXPENSE_COLPLETE"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
	</resultMap>
	
	
	<!-- 문서  -->
	<resultMap id="docResultSet" type="Doc">
		<id property="docNum" column="DOC_NUM"/>
		<result property="docEmpName" column="EMP_NAME"/>
		<result property="docGradeName" column="GRADE_NAME"/>
		<result property="docTitle" column="DOC_TITLE"/>
		<result property="docContent" column="DOC_CONTENT"/>
		<result property="docDate" column="DOC_DATE"/>
		<result property="docStatus" column="DOC_STATUS"/>
		<result property="confirmNum" column="CONFIRM_NUM"/>
		<result property="confirmEmp1" column="CONFIRM_EMP1"/>
		<result property="confirmEmp2" column="CONFIRM_EMP2"/>
		<result property="confirmEmp3" column="CONFIRM_EMP3"/>
		<result property="confirmEmp4" column="CONFIRM_EMP4"/>
		<result property="confirmDate1" column="CONFIRM_DATE1"/>
		<result property="confirmDate2" column="CONFIRM_DATE2"/>
		<result property="confirmDate3" column="CONFIRM_DATE3"/>
		<result property="confirmDate4" column="CONFIRM_DATE4"/>
		<result property="empNum1" column="EMP_NUM1"/>
		<result property="empNum2" column="EMP_NUM2"/>
		<result property="empNum3" column="EMP_NUM3"/>
		<result property="empNum4" column="EMP_NUM4"/>
	</resultMap>
	
	
	<!-- 승인 정렬  -->
	<resultMap id="approvalSortResultSet" type="ApprovalSort">
		<id property="pNum" column="PNUM"/>
		<result property="rNum" column="RNUM"/>
		<result property="approvalNum" column="APPROVAL_NUM"/>
		<result property="docNum" column="DOC_NUM"/>
	</resultMap>
		
	

	<insert id="insertConflrm" parameterType="Conflrm">
		 insert into CONFIRM values( CONFIRM_NUM_SEQ.nextval ,#{confirmEmp1},#{confirmEmp2},#{confirmEmp3},#{confirmEmp4},default,default,default,default)	
	</insert>
	
	<select id="conflrmSort" resultMap="conflrmSortResultSet">
		select * from ConflrmSort where PNUM=1
	</select>
	
	<insert id="insertDraft" parameterType="Draft">
		 insert into DOC_DRAFT values( DRAFT_NUM_SEQ.nextval ,#{deptNum},#{empNum},#{draftTitle},#{draftContent},SYSDATE,default,default,default,#{confirmNum})	
	</insert>
	
	<select id="draftSort" resultMap="draftSortResultSet">
		select * from draftSort where PNUM=1
	</select>
	
	<insert id="insertReference" parameterType="Reference">
		insert into Reference values(#{docNum},#{empNum1},#{empNum2},#{empNum3},#{empNum4})
	</insert>
	
	<insert id="insertAttachment" parameterType="Attachment">
		insert into Attachment values( ATT_NUM_SEQ.nextval ,#{docNum},#{attOriginalName},#{attPath},#{attRename})	
	</insert>
	
	<select id="selectDraft" parameterType="string" resultMap="draftResultSet">
		select * from DOC_DRAFT where DRAFT_NUM = #{string}
	</select>
	
	<select id="selectConflrm" parameterType="string" resultMap="conflrmResultSet">
		select * from CONFIRM where CONFIRM_NUM = #{string}
	</select>
	
	<select id="selectReference" parameterType="string" resultMap="referenceResultSet">
		select * from reference where DOC_NUM = #{string}
	</select>
	
	<select id="selectAttachment" parameterType="string" resultMap="attachmentResultSet">
		select * from Attachment where DOC_NUM = #{string}
	</select>	
	
	
	
	<insert id="insertRequest" parameterType="Request">
		 insert into DOC_REQUEST values( REQUEST_NUM_SEQ.nextval ,#{deptNum},#{empNum},#{requestTitle},#{requestContent},SYSDATE,default,default,default,#{confirmNum})	
	</insert>
	
	<select id="requestSort" resultMap="requestSortResultSet">
		select * from requestSort where PNUM=1
	</select>
	
	<select id="selectRequest" parameterType="string" resultMap="requestResultSet">
		select * from DOC_REQUEST where REQUEST_NUM = #{string}
	</select>
	
	<insert id="insertHoliday" parameterType="Holiday">
		 insert into DOC_HOLIDAY values( HOLI_NUM_SEQ.nextval ,#{deptNum},#{empNum},#{holiType},SYSDATE,#{holidayStart},#{holidayEnd},default,#{confirmNum},'Y')	
	</insert>
	
	<select id="holidaySort" resultMap="holidaySortResultSet">
		select * from holidaySort where PNUM=1
	</select>
	
	<select id="selectHoliday" parameterType="string" resultMap="holidayResultSet">
		select * from DOC_HOLIDAY where HOLI_NUM = #{string}
	</select>
	
	<insert id="insertExpense" parameterType="Expense">
		 insert into DOC_EXPENSE values( EXPENSE_NUM_SEQ.nextval ,#{deptNum},#{empNum},#{expenseTitle},#{expenseContent},SYSDATE,#{expenseType},#{partnerNum},#{expensePrice},default,default,default,#{confirmNum})	
	</insert>
	
	<select id="expenseSort" resultMap="expenseSortResultSet">
		select * from expenseSort where PNUM=1
	</select>
	
	<select id="selectExpense" parameterType="string" resultMap="expenseResultSet">
		select * from DOC_EXPENSE where EXPENSE_NUM = #{string}
	</select>
	
	
	<!-- 리스트불러오기 -->

	<select id="getallListCount"  parameterType="string" resultType="_int">
		select COUNT(*) from doc
			join CONFIRM  USING (CONFIRM_NUM)
			join REFERENCE USING(DOC_NUM)
			where DOC_EMPNUM = #{string} or CONFIRM_emp1 = #{string}
       		 or CONFIRM_emp2 = #{string} or CONFIRM_emp3 = #{string} or CONFIRM_emp4 = #{string}
       		 or EMP_NUM1 = #{string} or EMP_NUM2 = #{string} or EMP_NUM3 = #{string}  or EMP_NUM4 = #{string}
	</select>	
	
	<select id="docList"  parameterType="string" resultMap="docResultSet">
		select * from doc
			join CONFIRM  USING (CONFIRM_NUM)
			left join REFERENCE USING(DOC_NUM)
			join modal on (DOC_EMPNUM = EMP_NUM)
			where DOC_EMPNUM = #{string} or CONFIRM_emp1 = #{string}
       		 or CONFIRM_emp2 = #{string} or CONFIRM_emp3 = #{string} or CONFIRM_emp4 = #{string}
       		 or EMP_NUM1 = #{string} or EMP_NUM2 = #{string} or EMP_NUM3 = #{string}  or EMP_NUM4 = #{string}
       		ORDER BY DOC_DATE DESC
	</select>
	
	<select id="rflist" resultMap="referenceResultSet">
		select * from Reference
	</select>
	
	<!-- 대기/진행/완료리스트 -->	
	
	<select id="selectCount"  parameterType="HashMap" resultType="_int">
		select COUNT(*) from doc
			join CONFIRM  USING (CONFIRM_NUM)
			where DOC_EMPNUM = #{userNum} and DOC_STATUS = #{status}
	</select>
	
	<select id="docselectList"  parameterType="HashMap" resultMap="docResultSet">
		select * from doc
			join CONFIRM  USING (CONFIRM_NUM)
			join MODAL on(DOC_EMPNUM = EMP_NUM)
			where DOC_EMPNUM = #{userNum} and DOC_STATUS = #{status}
       		ORDER BY DOC_DATE DESC
	</select>
	
	<!-- 승인리스트 -->	
	<select id="approvalListCount"  parameterType="string" resultType="_int">
		select COUNT(*) from doc
			join CONFIRM  USING (CONFIRM_NUM)
			where CONFIRM_emp1 = #{string}
       		 or CONFIRM_emp2 = #{string} or CONFIRM_emp3 = #{string} or CONFIRM_emp4 = #{string}
	</select>
	
	<select id="approvalList"  parameterType="string" resultMap="docResultSet">
		select * from doc
			join CONFIRM  USING (CONFIRM_NUM)
			join MODAL on(DOC_EMPNUM = EMP_NUM)
			where CONFIRM_emp1 = #{string}
       		 					or CONFIRM_emp2 = #{string} or CONFIRM_emp3 = #{string} or CONFIRM_emp4 = #{string}
       		ORDER BY DOC_DATE DESC
	</select>
	
	<!-- 참조리스트 -->
		<select id="selectReferenceList"  parameterType="string" resultType="_int">
		select COUNT(*) from doc
			join REFERENCE USING(DOC_NUM)
			where EMP_NUM1 = #{string} or EMP_NUM2 = #{string} or EMP_NUM3 = #{string}  or EMP_NUM4 = #{string}
	</select>
	<select id="docReferenceList"  parameterType="string" resultMap="docResultSet">
		select * from doc
			join REFERENCE USING(DOC_NUM)
			join modal on (DOC_EMPNUM = EMP_NUM)
			where EMP_NUM1 = #{string} or EMP_NUM2 = #{string} or EMP_NUM3 = #{string}  or EMP_NUM4 = #{string}
       		ORDER BY DOC_DATE DESC
	</select>
	
	
	<!-- 결재대기 전체 리스트 -->
	
	<select id="allRequestListCount"  parameterType="string" resultType="_int">
		select COUNT(*) from doc
			join CONFIRM  USING (CONFIRM_NUM)
			where (CONFIRM_emp1 = #{string}
       		 or CONFIRM_emp2 = #{string} or CONFIRM_emp3 = #{string} or CONFIRM_emp4 = #{string})
       		 and DOC_STATUS != 'C'
    </select>
    
    <select id="docRequestList"  parameterType="string" resultMap="docResultSet">
		select * from doc
			join CONFIRM  USING (CONFIRM_NUM)
			join MODAL on(DOC_EMPNUM = EMP_NUM)
			where (CONFIRM_emp1 = #{string}
       		 					or CONFIRM_emp2 = #{string} or CONFIRM_emp3 = #{string} or CONFIRM_emp4 = #{string})
       		 	and DOC_STATUS != 'C'
       		ORDER BY DOC_DATE DESC
	</select>
	
	<!-- 결재대기 기안/품의/지출/휴가  리스트 -->
	<select id="selectRequestListCount"  parameterType="HashMap" resultType="_int">
		select COUNT(*) from doc
			join CONFIRM  USING (CONFIRM_NUM)
			where (CONFIRM_emp1 = #{userNum}
       		 or CONFIRM_emp2 = #{userNum} or CONFIRM_emp3 = #{userNum} or CONFIRM_emp4 = #{userNum})
       		 and DOC_STATUS != 'C' and DOC_NUM like #{docNum}
	</select>
	
	  <select id="docsselectRequestList"  parameterType="HashMap" resultMap="docResultSet">
		select * from doc
			join CONFIRM  USING (CONFIRM_NUM)
			join MODAL on(DOC_EMPNUM = EMP_NUM)
			where (CONFIRM_emp1 = #{userNum}
       		 or CONFIRM_emp2 = #{userNum} or CONFIRM_emp3 = #{userNum} or CONFIRM_emp4 = #{userNum})
       		 and DOC_STATUS != 'C' and DOC_NUM like #{docNum}
       		ORDER BY DOC_DATE DESC
	</select>
	
	<update id="updateConflrm1" parameterType="string">
		 update CONFIRM
	 	set CONFIRM_DATE1 = SYSDATE
	 	WHERE CONFIRM_NUM = #{string}  
	</update>
	<update id="updateConflrm2" parameterType="string">
		 update CONFIRM
		 set CONFIRM_DATE2 = SYSDATE
	 	WHERE CONFIRM_NUM = #{string}  
	</update>
	<update id="updateConflrm3" parameterType="string">
	 	update CONFIRM
	 	set CONFIRM_DATE3 = SYSDATE
		 WHERE CONFIRM_NUM = #{string}  
	</update>
	<update id="updateConflrm4" parameterType="string">
		 update CONFIRM
	 	set CONFIRM_DATE4 = SYSDATE
	 	WHERE CONFIRM_NUM = #{string}  
	</update>
	
	<update id="progressDraft" parameterType="string">
	 	update DOC_DRAFT
		 set DRAFT_STATUS = 'P'
		 WHERE DRAFT_NUM = #{string}  
	</update>
	
	<update id="progressRequest" parameterType="string">
	 	update DOC_REQUEST
	 	set REQUEST_STATUS = 'P'
	 	WHERE REQUEST_NUM = #{string}  
	</update>
	
	<update id="progressHoliday" parameterType="string">
	 	update DOC_HOLIDAY
	 	set HOLIDAY_STATUS = 'P'
	 	WHERE HOLI_NUM = #{string}  
	</update>
	
	<update id="progressExpense" parameterType="string">
	 	update DOC_EXPENSE
	 	set EXPENSE_STAUS = 'P'
	 	WHERE EXPENSE_NUM = #{string}  
	</update>
	
	<insert id="insertApproval" parameterType="string">
		 insert into APPROVAL values( APPROVAL_NUM_SEQ.nextval ,SYSDATE, #{string})	
	</insert>
	
	<select id="approvalSort" resultMap="approvalSortResultSet">
		select * from ApprovalSort where PNUM=1
	</select>
	
	<update id="completeDraft" parameterType="HashMap">
	 	update DOC_DRAFT
		set DRAFT_STATUS = 'C', APPROVAL_NUM = #{approvalNum}, DRAFT_COMPLETE=SYSDATE
		WHERE DRAFT_NUM = #{draftNum}  
	</update>
	
	<update id="completeRequest" parameterType="HashMap">
	 	update DOC_REQUEST
	 	set REQUEST_STATUS = 'C', APPROVAL_NUM = #{approvalNum}, REQUEST_COMPLETE=SYSDATE
		WHERE REQUEST_NUM = #{requestNum}  
	</update>
	
	<update id="completeHoliday" parameterType="HashMap">
	 	update DOC_HOLIDAY
	 	set HOLIDAY_STATUS = 'C', APPROVAL_NUM = #{approvalNum}
		WHERE HOLI_NUM = #{holiNum}  
	</update>
	
	<update id="completeExpense" parameterType="HashMap">
	 	update DOC_EXPENSE
	 	set EXPENSE_STAUS = 'C', APPROVAL_NUM = #{approvalNum} ,EXPENSE_COLPLETE=SYSDATE
	 	WHERE EXPENSE_NUM = #{expenseNum} 
	</update>
	
	
	
	
	

</mapper>