<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="calendarMapper">

    <resultMap id="calendarResultSet" type="Calendar">
		<id property="empNum" column="emp_num"/>
		<result property="description" column="sch_content"/>
		<result property="start" column="sch_emp_start"/>
		<result property="end" column="sch_emp_end"/>
		<result property="userName" column="register_emp_num"/>
	</resultMap>

	<insert id="insertCalendar" parameterType="Calendar">
		insert into calendar
		values(#{emp_num}, #{dept_num}, #{sch_emp_start}, #{sch_emp_end}, #{register_emp_name}, #{sch_content})
	</insert>
	
	<update id="updateCalendar" parameterType="string">
		update calendar
		set 
		where emp_num=#{empNum}
	</update>
	
	<select id="calendarDetail" parameterType="string" resultMap="calendarResultSet">
		select *
		from calendar
		where emp_num=#{empNum}
	</select>
	
	<delete id="deleteCalendar" parameterType="string">
		delete from calendar
		where emp_num=#{empNum}
	</delete>
	
	
	<!-- 출근/퇴근-->
	<insert id="Attendance" parameterType="Attendance">
		insert into attendance
		values(#{empNum}, #{att_date}, #{time_on}, #{time_off})
	</insert>
	
</mapper>