<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">
	
	
	<resultMap id="RoomRS" type="Room">
		<id property="roomId" column="CHAT_ROOM" />
		<result property ="roomName" column="CHAT_NAME"/>
		<result property="lastMan" column="CHAT_USER" />
		<result property="lastWord" column="MSG_CONT" />
		<result property="lastComm" column="MSG_DATE" />
	</resultMap>
		
	<resultMap id="MessageHistoryRS" type="Message">
		<id property ="msgNum" column="CHAT_MSG"/>
		<result property="sender" column="CHAT_USER"/>
		<result property="msgCont" column="MSG_CONT"/>
		<result property="msgTime" column="MSG_DATE"/>
		<result property="status" column="MSG_STAT"/>
	</resultMap>
	
	<select id="sysId" resultType="string">
		SELECT EMP_NUM
		FROM EMPLOYEE
		WHERE EMP_NAME='SYSTEM'
	</select>
	
<select id="getRoom" parameterType="string" resultMap="RoomRS">
		SELECT CHAT_ROOM,CHAT_NAME,MSG_CONT,CHAT_USER,MSG_DATE
		FROM CHAT_MSG
		JOIN CHAT_ROOM USING(CHAT_ROOM)
		WHERE CHAT_ROOM=#{roomId}
	</select>
	
	
	
	<!-- userId로 룸리스트 -->
	<select id="getRoomList" parameterType="string" resultType="string">
		SELECT CHAT_ROOM
		FROM CHAT_JOIN
		WHERE CHAT_USER=#{userId}
	</select>
	
	
	<!-- 룸별 마지막 메세지 -->
	<select id="initialLastChat" parameterType="string" resultMap="RoomRS">
		select chat_room,chat_name,msg_cont,chat_user,msg_date
		from(select rownum rnum,a.*
		        from (select chat_room,chat_name,msg_cont,chat_user,msg_date
		                from chat_msg
		                join chat_room using(chat_room)
		                where chat_room=#{rList}
		                order by msg_date DESC)a
		        )
		where rnum=1
	</select>
	<select id="msgHistory" parameterType="string" resultMap="MessageHistoryRS">
		SELECT CHAT_MSG,CHAT_USER,MSG_CONT,MSG_DATE,MSG_STAT 
		FROM CHAT_MSG 
		WHERE CHAT_ROOM=#{roomId} 
		ORDER BY MSG_DATE ASC
	</select>
	
	<insert id="msgDb" parameterType="Message">
		INSERT INTO CHAT_MSG VALUES(NULL,#{roomId},#{sender},#{msgCont},SYSDATE,'Y')
	</insert>
	
	
	<insert id = "insertNewChat" parameterType="String">
		INSERT INTO CHAT_ROOM VALUES(NULL,#{userId},SYSDATE)
	</insert>
	
	<select id ="selectNewChat" resultType="string">
		SELECT CHAT_ROOM,ROWNUM
		FROM (SELECT CHAT_ROOM
		        FROM CHAT_ROOM
		        ORDER BY CHAT_CREATE DESC)
		WHERE ROWNUM=1
	</select>
	
	<insert id="insertUser" parameterType="hashmap">
		INSERT INTO CHAT_JOIN VALUES(#{roomId},#{userId},SYSDATE)
	</insert>
	<select id="getName" parameterType="string" resultType="string">
	    SELECT EMP_NAME
		FROM EMPLOYEE
		WHERE EMP_NUM=#{userId}
	</select>
	<update id="roomExitU" parameterType="hashmap">
		UPDATE CHAT_MSG 
		SET CHAT_USER=#{sysId}, MSG_STAT='N' 
		WHERE CHAT_USER=#{userId} AND CHAT_ROOM =#{roomId}
	</update>
	<delete id="roomExitD" parameterType="hashmap">
		DELETE FROM CHAT_JOIN 
		WHERE CHAT_USER =#{userId} AND CHAT_ROOM=#{roomId}
	</delete>





</mapper>