<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="chattingMapper">

	

	<select id="roomSetList" parameterType="string">
		SELECT CHAT_ROOM,CHAT_USER,CHAT_LAST
		FROM CHAT_ROOM
		WHERE CHAT_USER = ${userId}
		ORDER BY CHAT_LAST DESC
	</select>














</mapper>