<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="humanMapper">
	
	<resultMap type="Notice" id="HRnListResultSet">
		<id property="noticeNum" column="NOTICE_NUM"/>
		<result property="noticeDept" column="NOTICE_DEPT"/>
		<result property="noticeTitle" column="NOTICE_TITLE"/>
		<result property="noticeContent" column="NOTICE_CONTENT"/>
		<result property="empNum" column="EMP_NUM"/>
		<result property="empName" column="EMP_NAME"/>
		<result property="noticeDate" column="NOTICE_DATE"/>
		<result property="noticeModify" column="NOTICE_MODIFY"/>
		<result property="noticeStatus" column="NOTICE_STATUS"/>
		<result property="noticeAccType" column="NOTICE_ACC_TYPE"/>
		
	</resultMap>
	
	<select id="gethListCount" resultType="_int">
		select count(*)
		from notice
		where notice_status = 'Y' and notice_dept = 301
	</select>
	
	<select id="selectHRnList" resultMap="HRnListResultSet">
		select *
		from notice
		join employee using(emp_num)
		where notice_status = 'Y' and notice_dept = 301
		order by notice_num desc
	</select>
	
	<select id="selectNotice" parameterType="string" resultMap="HRnListResultSet">
		select *
		from notice
		join employee using(emp_num)
		where notice_num=#{noticeNum}
	</select>
</mapper>