<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mypageMapper">
	
	<resultMap id="empResultSet" type="Mypage">
		<id property="num" column="EMP_NUM"/>
		<result property="pwd" column="EMP_PWD"/>
		<result property="name" column="EMP_NAME"/>
		<result property="email" column="EMP_EMAIL"/>
		<result property="gender" column="EMP_GENDER"/>
		<result property="birth" column="EMP_BIRTH"/>
		<result property="phone" column="EMP_PHONE"/>
		<result property="address" column="EMP_ADDRESS"/>
		<result property="gradeNum" column="GRADE_NUM"/>
		<result property="deftNum" column="DEPT_NUM"/>
		<result property="salary" column="EMP_SALARY"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="resignDate" column="RESIGN_DATE"/>
		<result property="status" column="EMP_STATUS"/>
		<result property="account" column="EMP_ACCOUNT"/>
		<result property="bank" column="EMP_BANK"/>
		<result property="gradeName" column="GRADE_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
		<result property="holidayCount" column="HOLIDAY_COUNT"/>
		<result property="holidayLeft" column="HOLIDAY_LEFT"/>
		<result property="holidayYear" column="HOLIDAY_YEAR"/>
	</resultMap>
	
	<resultMap type="EmpList" id="listResultSet">
		<id property="num" column="EMP_NUM"/>
		<result property="name" column="EMP_NAME"/>
		<result property="email" column="EMP_EMAIL"/>
		<result property="phone" column="EMP_PHONE"/>
		<result property="gradeNum" column="GRADE_NUM"/>
		<result property="deftNum" column="DEPT_NUM"/>
		<result property="status" column="EMP_STATUS"/>
		<result property="gradeName" column="GRADE_NAME"/>
		<result property="deptName" column="DEPT_NAME"/>
	</resultMap>
	
	<resultMap type="Mypage" id="findPwd">
		<id property="num" column="EMP_NUM"/>
		<result property="name" column="EMP_NAME"/>
	</resultMap>
	
	<!-- 로그인 -->
	<select id="loginMan" parameterType="Mypage" resultMap="empResultSet">
		select *
		from employee
		left outer join grade using(grade_num)
		left outer join dept using(dept_num)
		left outer join holiday_count using(emp_num)
		where emp_num=#{num} and emp_status='Y'
	</select>
	
	<!-- 정보 수정 -->
	<update id="empUpdate" parameterType="Mypage">
		update employee
		set emp_email=#{email}, emp_phone=#{phone}, emp_bank=#{bank}, emp_account=#{account}, emp_address=#{address}, emp_birth=#{birth}
		where emp_num=#{num}
	</update>
	
	<!-- 비번 수정 -->
	<update id="pwdUpdate" parameterType="Mypage">
		update employee
		set emp_pwd=#{pwd}
		where emp_num=#{num}
	</update>
	
	<!-- 비번 찾기 -->
	<select id="findPwd" parameterType="Mypage" resultMap="findPwd">
		select *
		from employee
		where emp_num=#{num} and emp_name=#{name} and emp_status='Y'
	</select>
	
	<!-- 총 직원 수 -->
	<select id="empCount" resultType="_int">
		select count(*)
		from employee
		where emp_status='Y'
	</select>
	
	<!-- 총 직원 목록 -->
	<select id="empList" resultMap="listResultSet">
		select *
		from employee
		join grade using(grade_num)
		join dept using(dept_num)
		where emp_status='Y'
		order by emp_name
	</select>
	
	<!-- 검색한 직원 수 -->
	<select id="searchCount" resultType="_int">
		select count(*)
		from employee
		where emp_name=#{emp} and emp_status='Y'
	</select>
	
	<select id="empSearch" resultMap="listResultSet">
		select *
		from employee
		join grade using(grade_num)
		join dept using(dept_num)
		where emp_name=#{emp} and emp_status='Y'
		order by emp_name
	</select>
	
	
	
</mapper>